.chart {
    flex: 4;
    -wekbit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.468);
    box-shadow: 2px 4px 10px 1px rgba(203, 201, 201, 0.524);
    padding: 10px;
    color: gray;

    .title {
        margin-bottom: 20px;
    }

    .chartGrid {
        stroke: rgb(228, 225, 225);
    } 
}